<!DOCTYPE html>
{% extends "mother.html" %}
{% block body_block %}


  <h1> Please login by using your username and password </h1>

  <form method="post" action="{% url 'users:user_login' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter your username">

    <label for="password"> Password:</label>
    <input type="password" name="password">

    <input type="submit" name="" value="Login">
    </form>


  <h3>No account yet?! Create an account <a href= "{% url 'users:form' %}"> here</a> </h3>

  {% endblock %}
